@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.slide-center-right {
  animation: slideCenterToRight 1s forwards;
  visibility: visible;
  opacity: 1;
}

@keyframes slideCenterToRight {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    transform: translateX(20%);
    opacity: 0;
    visibility: hidden;
  }
}

.slide-center-left {
  animation: slideCenterToLeft 1s forwards;
  visibility: visible;
  opacity: 1;
}

@keyframes slideCenterToLeft {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    transform: translateX(-20%);
    opacity: 0;
    visibility: hidden;
  }
}

.slide-left-center {
  animation: slideRightToCenter 1s forwards;
  visibility: hidden;
  opacity: 0;
}

@keyframes slideRightToCenter {
  0% {
    transform: translateX(-20%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.slide-right-center {
  animation: slideLeftToCenter 1s forwards;
  visibility: hidden;
  opacity: 0;
}

@keyframes slideLeftToCenter {
  0% {
    transform: translateX(20%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.textfield:focus ~ .textfield-label,
.textfield:not(:placeholder-shown) ~ .textfield-label {
  top: 0px;
  left: 8px;
  font-size: 14px;
  color: #fff;
  padding: 0 4px;
  background: linear-gradient(to right, #6d28d9, #d946ef, #fb7185);
}

.stop:hover .animate-infinite-scroll {
  animation-play-state: paused;
}

.scroll-wrapper {
  scrollbar-width: thin;
}

.scroll-wrapper::-webkit-scrollbar {
  width: 5px;
}

.scroll-wrapper:hover {
  scrollbar-color: transparent transparent;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.voice-visualizer__btn {
  background-color: transparent !important;
}

/* .clear-btn {
  display: none !important;
} */

.flip-container {
  perspective: 1000px;
}

.flipped .flipper {
  transform: rotateY(180deg);
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

/* used to changed the datepicker icon to white*/
#dob {
  color-scheme: dark;
}
